<div *ngIf="!teams">
    <main>
        <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                    <stop offset="0%" stop-color="#5ebd3e" />
                    <stop offset="33%" stop-color="#ffb900" />
                    <stop offset="67%" stop-color="#f78200" />
                    <stop offset="100%" stop-color="#e23838" />
                </linearGradient>
                <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                    <stop offset="0%" stop-color="#e23838" />
                    <stop offset="33%" stop-color="#973999" />
                    <stop offset="67%" stop-color="#009cdf" />
                    <stop offset="100%" stop-color="#5ebd3e" />
                </linearGradient>
            </defs>
            <g fill="none" stroke-linecap="round" stroke-width="16">
                <g class="ip__track" stroke="#ddd">
                    <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                    <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                </g>
                <g stroke-dasharray="180 656">
                    <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                    <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                </g>
            </g>
        </svg>
    </main>
</div>
<div class="font-family" *ngIf="teams">
    <header class="sticky-header">
        <nav>
            <ul>
              <div style="float:left; width: 15%;">&nbsp;</div>
              <li><a href="/iplseries/{{season}}/matches">HOME</a></li>
              <li><a href="/iplseries/{{season}}/teams">TEAMS</a></li>
              <li><a href="/iplseries/{{season}}/points-table">POINTS TABLE</a></li>
              <div style="float: right; cursor: pointer;">
                <a href="/admin/login">
                  <li style="margin: 0; text-decoration: none; color: aliceblue;"> Admin Login </li>
                  <img style="margin-right: 10px;" src="https://cdn-icons-png.flaticon.com/512/10405/10405572.png" width="35px" height="35px" alt="account">
                </a>
              </div>
          </ul>
        </nav>
    </header>

    <div class="body-margin-p">
        <div class="ds-box">

            <div class="ds-flex ds-py-3 bg-blue">
                <div class="ds-flex ds-flex-col ds-grow ds-justify-center">
                    <span class="ds-text-title-ys ds-font-bold ds-capitalize ds-font-large">
                        IPL {{ season }} Teams
                    </span>
                </div>
            </div>

            <div class="w-full ds-flex border-b border-solid ds-bg-bordergrey" style="background: honeydew;">
                <div class="w-1/2  p-8 ds-font-medium">
                    <div class="ds-flex ds-justify-center items-center p-1-rem ds-border-bt ds-text-dec-none" *ngFor="let team of teams.slice(0, 5)"><a class="ds-text-dec-none" routerLink="/iplseries/{{season}}/teams/{{ team.team.replace(' ','-') }} "> {{ team.team }} </a></div>
                </div>                
                <div class="w-1/2  p-8 ds-font-medium">
                    <div style="border-right: 0;" class="ds-flex ds-justify-center items-center p-1-rem ds-border-bt ds-text-dec-none"  *ngFor="let team of teams.slice(5, 10)"><a class="ds-text-dec-none" href="/iplseries/{{season}}/teams/{{ team.team.replace(' ','-') }}"> {{ team.team }} </a></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<router-outlet />